# Operations Limitations

Python can’t sum a string and an integer.

In [2]:
a = 'b' + 2
print(a)

TypeError: must be str, not int

Python can multiply a string and an integer.

In [3]:
a = 'b' * 5
print(a)

bbbbb

# Variable name allowed
1- A variable name can contain only lowercase letters, uppercase letters, numbers, and underscores.
<br>2- You can't enclose it in quotation marks.
<br>3- You can't have any spaces in it.
<br>4- It can't be a number or begin with a number

In [4]:
name = 'adil' #variable allowed to start with lowercase

In [5]:
Name123 = 'adil' #variable allowed to start with uppercase

In [6]:
_name = 'adil' #variable allowed to start with underscore

In [7]:
1adil = 'adil' #variable not allowed to start with a number

SyntaxError: invalid syntax (<ipython-input-7-2032feaf1846>, line 1)

In [8]:
123 = 'adil' #variable not allowed to be a number

SyntaxError: can't assign to literal (<ipython-input-8-c9f29b5da6be>, line 1)

# Precedence of Operators
1- {}
<br>2- ****
<br>3-  , /, //, %
<br>4- + , -

In [9]:
a = 3 + 2 * 4 ** 2
print(a)

35

# Comments

In [10]:
# The is one line comment
'''This is
a multiline comment'''
"""This is
a multiline comment"""

'This is\na multiline comment'

# Lists

Initializing a simple list

In [11]:
cricketers = ["David Warner","Joe Root","Steven Smith","Virat Kholi","Kane Willamson"]
print(cricketers)

['David Warner', 'Joe Root', 'Steven Smith', 'Virat Kholi', 'Kane Willamson']

Appending a new element to the list

In [12]:
cricketers.append("Rashid Khan")
print(cricketers)

['David Warner', 'Joe Root', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan']

Appending a number of elements to the list

In [13]:
cricketers += ["Mustafizur Rehman","Hashim Amla"]
print(cricketers)

['David Warner', 'Joe Root', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan', 'Mustafizur Rehman', 'Hashim Amla']

Insert element in a particular position

In [14]:
cricketers[1] = "Babar Azam" #replaces element at index 1 and removes the previous element at index 1
print(cricketers)

['David Warner', 'Babar Azam', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan', 'Mustafizur Rehman', 'Hashim Amla']

In [15]:
cricketers.insert(1,"Joe Root") #replaces element at index 1 and moves index of all the other element one step down
print(cricketers)

['David Warner', 'Joe Root', 'Babar Azam', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan', 'Mustafizur Rehman', 'Hashim Amla']

Slicing a list

In [16]:
main_cricketers = cricketers[2:6]
print(main_cricketers)

['Babar Azam', 'Steven Smith', 'Virat Kholi', 'Kane Willamson']

In [17]:
top_5 = cricketers[:5]
print(top_5)

['David Warner', 'Joe Root', 'Babar Azam', 'Steven Smith', 'Virat Kholi']

In [18]:
bottom_3 = cricketers[6:9]
print(bottom_3)

['Rashid Khan', 'Mustafizur Rehman', 'Hashim Amla']

Removing an element from the list

In [19]:
del cricketers[1]
print(cricketers)

['David Warner', 'Babar Azam', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan', 'Mustafizur Rehman', 'Hashim Amla']

In [20]:
cricketers.remove("Mustafizur Rehman")
print(cricketers)

['David Warner', 'Babar Azam', 'Steven Smith', 'Virat Kholi', 'Kane Willamson', 'Rashid Khan', 'Hashim Amla']

Poping an element from a list

In [21]:
top_player = cricketers.pop(3) #poping particular element
print(cricketers)
print(top_player)

['David Warner', 'Babar Azam', 'Steven Smith', 'Kane Willamson', 'Rashid Khan', 'Hashim Amla']
Virat Kholi

In [22]:
top_player = cricketers.pop() #poping last element
print(cricketers)
print(top_player)

['David Warner', 'Babar Azam', 'Steven Smith', 'Kane Willamson', 'Rashid Khan']
Hashim Amla

# Tuples
Tuple is like a list, but the elements are fixed. They can't be changed—unless you redefine the whole tuple.
<br> You can't add, modify, remove, delete, or pop. If you must make a change, you have to define the tuple all over again

In [23]:
days = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
print(days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [24]:
print(days[4]) #elements accessed the same way as a list

Friday

In [25]:
days[4] = "Holiday" #tuple cannot be modified

TypeError: 'tuple' object does not support item assignment

# For Loop

In [26]:
batsmans = ["Fakhar Zaman","Imam-ul-Haq","Babar Azam","Haria Sohail","Shoaib Malik","Asif Ali"]
player_to_check = "Fakhar Zaman"

for batsman in batsmans:
    if batsman == player_to_check:
        print(batsman + " is a batsman")

Fakhar Zaman is a batsman

In [27]:
batsmans = ["Fakhar Zaman","Imam-ul-Haq","Babar Azam","Haria Sohail","Shoaib Malik","Asif Ali"]
players = ["Fakhar Zaman","Muhammad Amir","Junaid Khan","Shoaib Malik"]

for player in players:
    if  player in batsmans:
        print(player + " is a batsman")
    else:
        print(player + " is a bowler")

Fakhar Zaman is a batsman
Muhammad Amir is a bowler
Junaid Khan is a bowler
Shoaib Malik is a batsman

# Changing case

title() returns a string in title format and doesnt modify the orignal string

In [28]:
name = input("Enter name: ")
name = name.title()
print(name)

Enter name: adil
Adil

title() returns a string in upper case and doesnt modify the orignal string

In [29]:
name = input("Enter name: ")
name = name.upper()
print(name)

Enter name: adil
ADIL

lower() returns a string in lower case and doesnt modify the orignal string

In [30]:
name = input("Enter name: ")
name = name.lower()
print(name)

Enter name: aDiL
adil

# Dictionary
Both key and values can be string or integer

In [31]:
ct15023 = {
    "name" : "Adil Aslam",
    "class" : "BCIT",
    "age" : 23,
    "gpa" : 3.83
}

print(ct15023)

{'name': 'Adil Aslam', 'class': 'BCIT', 'age': 23, 'gpa': 3.83}

Accessing value through key

In [32]:
print(ct15023["age"])

23

If similar keys are used it considers are most last key from the dictionry

In [33]:
ct15023 = {
    "name" : "Adil",
    "name" : "Adil Aslam",
    True : "TCIT",
    True : "BCIT",
    "gpa" : 3.83,
    "gpa" : 4
}
print(ct15023)

{'name': 'Adil Aslam', True: 'BCIT', 'gpa': 4}

Assigning a new key-value pair

In [34]:
ct15023["semester"] = 7
print(ct15023)

{'name': 'Adil Aslam', True: 'BCIT', 'gpa': 4, 'semester': 7}

Deleting a key-value pair

In [35]:
del ct15023[True]
print(ct15023)

{'name': 'Adil Aslam', 'gpa': 4, 'semester': 7}

Modifying a key-value pair

In [36]:
ct15023["semester"] = 8
print(ct15023)

{'name': 'Adil Aslam', 'gpa': 4, 'semester': 8}

Loop through dictionary values

In [37]:
for value in ct15023.values():
    print(value)

Adil Aslam
4
8

Loop through dictionary keys (by default without any function)

In [38]:
for key in ct15023.keys(): #or for key in ct15023:
    print(ct15023[key])

Adil Aslam
4
8

Loop through dictionary key-value pair

In [39]:
for key,val in ct15023.items():
    print(str(key).title() + " = " + str(val))

Name = Adil Aslam
Gpa = 4
Semester = 8

List of dictionaries

In [40]:
cricketers = [
    {
        "name" : "Fakhar Zaman",
        "runs" : 1023
    },
    {
        "name" : "Imam-ul-Haq",
        "runs" : 828
    },
    {
        "name" : "Babar Azam",
        "runs" : 3402
    }
]
print(cricketers)

[{'name': 'Fakhar Zaman', 'runs': 1023}, {'name': 'Imam-ul-Haq', 'runs': 828}, {'name': 'Babar Azam', 'runs': 3402}]

In [41]:
fav_player = cricketers[0]
print(fav_player)
print(fav_player["runs"])
print(cricketers[1]["runs"]) #accessing dictionary inside a list

{'name': 'Fakhar Zaman', 'runs': 1023}
1023
828

Dictionary containing a list

In [42]:
restaurant = {
    "name" : "Bites for Delight",
    "cusine_type" : "Fast Food",
    "dishes" : ["Pizza Fries","Pizza Burger","Pizza Sandwich"]
}
dishes = restaurant["dishes"]
print(dishes)

['Pizza Fries', 'Pizza Burger', 'Pizza Sandwich']

Dictionary containing dictionaries

In [43]:
cricketers = {
    
    "Fakhar Zaman" : {
        "age" : 33,
        "runs" : 1023
    },
    "Imam-ul-Haq" : {
        "age" : 28,
        "runs" : 847
    },
    "Babar Azam" : {
        "age" : 26,
        "runs" : 3402
    }
    
}

print(cricketers["Imam-ul-Haq"]["runs"]) #access dictionary inside a dictionry
cricketers["Imam-ul-Haq"]["runs"] = 1002 #modifying dictionary inside a dictionry
print(cricketers["Imam-ul-Haq"]["runs"])

847
1002

# Functions

In [44]:
def printFullName(first_name, last_name):
    print(first_name.title() + " " + last_name.title())

passing positional arguments

In [45]:
printFullName("Adil","Sachwani")

Adil Sachwani

passing keyword arguments

In [46]:
printFullName(last_name="Sachwani", first_name="Adil")

Adil Sachwani

default value

In [47]:
def findIncome(basic,tax = 0.2):
    income = basic - (basic * tax)
    return income

print(findIncome(20000))

16000.0

Positional arguments must come before keyword arguments

In [48]:
def playerStats(name, country, matches, runs):
    print(name.title() + "  " + country.upper() + " - " + str(runs/matches))
    
playerStats("Babar Azam","Pakistan", matches=46, runs=3040)

Babar Azam  PAKISTAN - 66.08695652173913

Positional arguments and parameters always come first, keyword parameters without defaults always come second, and keyword parameters with defaults always come last.

In [49]:
def details(first_name, last_name, roll_num, section="tcit"): #compulsory to define default parameter at last
    print(first_name.title() + " " + last_name.title())
    print("CT-0" + str(roll_num) + " " + section.upper())
    
details("adil", "aslam", roll_num=23)

Adil Aslam
CT-023 TCIT

Optional arguments must come after regular arguments.
<br>The one asterisk followed by a parameter name mean that there may or may not be one or more positional arguments passed.
<br>Returns in the form of Tuple

In [50]:
def restaraunt(name, cusine, *dishes):
    print(name.upper() + " - " + cusine.title())
    for dish in dishes:
        print(dish.title())
        
restaraunt("ginsoy","chinese","steak","chicken manchurian","pizza") #with optional argument
restaraunt("broadway pizza","pizza") #without optional argument

GINSOY - Chinese
Steak
Chicken Manchurian
Pizza
BROADWAY PIZZA - Pizza

The two asterisk followed by a parameter name mean that there may or may not be one or more keyword arguments passed.
<br>Returns in the form of Dictionary

In [51]:
def details(name,**other_details):
    print(name.title())
    for key,val in other_details.items():
        print(key + " - " + val)
        
details("Adil Aslam", section = "BCIT", rollnum = "CT-023")

Adil Aslam
section - BCIT
rollnum - CT-023

Return values in python (Function are variable in a way)

In [52]:
def add(*nums):
    sum = 0
    for num in nums:
        sum += num
    return sum

print(add())
print(add(1,2))
print(add(1,2,3,4))

0
3
10

A global variable is one you define in the main body of your code—that is, not in a function.
<br>A local variable is one that you define in a function.

In [53]:
def whatever():
    y = 2
    print(y)

y = 1
whatever()
print(y)

2
1

Functions as arguments

In [54]:
#Example 1
def func(num,f):
    print(num)
    f(num)

def x(n):
    print(n**2)
    
func(2,x)

2
4

In [55]:
def func(num,f):
    print(num)
    f(num)

#function x comes first
def x(n):
    print(n**2)
    
#integer x comes second (therefore integer x overrides function x)
x = 2

# Classes
Simple class Person

In [56]:
class Person():
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def checkAge(self):
        if self.age>=18:
            print("Adult")
        else:
            print("Child")

Create instances of class Person

In [57]:
adil = Person("Adil","Sachwani",22)
amna = Person("Amna","Habibi",21)

Call attributes and methods of instances

In [58]:
print(adil.first_name)
print(adil.last_name)
print(adil.age)
adil.checkAge()

print(amna.first_name)
print(amna.last_name)
print(amna.age)
amna.checkAge()

Adil
Sachwani
22
Adult
Amna
Habibi
21
Adult

# Inheritance

When one class inherits from another, it automatically takes on all the attributes and methods of the first class. The original class is called the parent class, and the new class is the child class.

In [59]:
class Person():
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def checkAge(self):
        if self.age >= 18:
            return "Adult"
        else:
            return "Child"

In [60]:
class Student(Person):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
    
    def checkMarks(self):
        if self.marks >= 70:
            return "Pass"
        else:
            return "Fail"

In [61]:
adil = Student("Adil Aslam",22,82)
print(adil.checkAge())
print(adil.checkMarks())

Adult
Pass

# Instances as Attributes

In [62]:
class Stats():
    def __init__(self,matches,runs):
        self.matches = matches
        self.runs = runs

In [63]:
class Cricketer():
    def __init__(self,name,country,age,stats):
        self.name = name
        self.country = country
        self.age = age
        self.stats = stats

In [64]:
statsOne = Stats(56,2033)
cricketerOne = Cricketer("Misbah-ul-Haq", "Pakistan", 45, statsOne)

In [65]:
print(cricketerOne.name)
print(cricketerOne.age)
print(cricketerOne.country)
print(cricketerOne.stats)
print(cricketerOne.stats.matches)
print(cricketerOne.stats.runs)

Misbah-ul-Haq
45
Pakistan
<__main__.Stats object at 0x00000166B5C81B70>
56
2033

# Overriding

In [66]:
class X():
    def displayGreetings(self):
        print("Hello")

In [67]:
class Y(X):
    def displayGreetings(self):
        print("Hello World")

In [68]:
x = X()
y = Y()
x.displayGreetings()
y.displayGreetings()

Hello
Hello World

# Importing Modules

In [69]:
%%writefile cricket.py

class Stats():
    def __init__(self,matches,runs):
        self.matches = matches
        self.runs = runs
        
class Cricketer():
    def __init__(self,name,country,age,stats):
        self.name = name
        self.country = country
        self.age = age
        self.stats = stats

Writing cricket.py

In [70]:
#Importing a single Class from a Module
from cricket import Cricketer as Cric

virat = Cric("Virat","India",30,statsOne)

In [71]:
#Importing multiple Classes from a Module
from cricket import Cricketer as C, Stats as S

statsVirat = S(124,8030)
playerVirat = C("Virat","India",30,statsVirat)

In [72]:
#Importing all Classes from a Module
from cricket import *

statsVirat = S(124,8030)
playerVirat = C("Virat","India",30,statsVirat)

In [73]:
#Importing an entire Module
import cricket

statsVirat = cricket.Stats(124,8030)
playerVirat = cricket.Cricketer("Virat","India",30,statsVirat)

# Data Files
'with' means closing the file afte you write to it

In [74]:
with open('adil.txt','w') as file:
    file.write("Adil Aslam")

'r' is by default if you dont provide the mode argument

In [75]:
with open('adil.txt','r') as file:
    print(file.read())
    
with open('adil.txt') as file:
    print(file.read())

Adil Aslam
Adil Aslam

'a' to append data to a file while preserving existing data in the file

In [76]:
with open('adil.txt','a') as file:
    file.write("AsSalam o Alaikum")

# JSON
You can't save a Python list in a text file. You can only save a text string. You can save a list in a CSV file, but a more straightforward approach is to use JSON.

In [83]:
import json

In [84]:
names = ["Adil Aslam", "Naveed Raza", "Rija Asif Butt", "Amna Ahmed Habibi"]

cricketer = {
    "name" : "Quinton De Kock",
    "country" : "South Africa",
    "age" : 29,
    "debut" : 2009
}

In [ ]:
#write
with open("names.json","w") as file:
    json.dump(names,file)
    
with open("cricketer.json","w") as file:
    json.dump(cricketer,file)

In [88]:
#read
with open("names.json","r") as file:
    names_list = json.load(file)
    
with open("cricketer.json","r") as file:
    cricketer_dict = json.load(file)

In [89]:
#print
print(names_list)
print(cricketer_dict)

['Adil Aslam', 'Naveed Raza', 'Rija Asif Butt', 'Amna Ahmed Habibi']
{'name': 'Quinton De Kock', 'country': 'South Africa', 'age': 29, 'debut': 2009}

# Exception Handling
<b>Example 1</b>

In [108]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("Zero Division Error")

Enter number 1: 2
Enter number 2: 0
Zero Division Error

<b>Example 2</b>

In [110]:
try:
    with open("sample.txt","r") as f:
        data = f.read()
        print(data)
except FileNotFoundError:
    print("File not found")

File not found

# Public and Private Access Modifiers

In [151]:
class Person():
    def __init__(self,name,age,nationality):
        self.name = name #public attribute
        self.__age = age #private attribute
    def getAge(self):
        return self.__age

In [146]:
p = Person("Adil",22)

TypeError: __init__() missing 1 required positional argument: 'nationality'

In [147]:
p.name #public can be accessed outside the class

'Adil'

In [148]:
p.__age #private cannot be accessed outside the class

AttributeError: 'Person' object has no attribute '__age'

In [149]:
p.getAge() #private can be accessed using a getter method

22

In [150]:
p._Person__age #private can alse be accessed this way

22

# Encapsulation

Bundling data and methods that work on that data within one unit. It is also refered as information hiding. You can restrict access to methods and variables. This can prevent the data from being modified by accident and is known as encapsulation.

In [158]:
class Student():
    def __init__(self,name,age,marks):
        self.__name = name #private attribute
        self.__age = age #private attribute
        self.__marks = marks #private attribute
    
    #getter method for private attribute *name*
    def getName(self): 
        return self.__name 
    #getter method for private attribute *age*
    def getAge(self):
        return self.__age
    #getter method for private attribute *marks*
    def getMarks(self):
        return self.__marks

In [159]:
#instance of class Student
s1 = Student("Adil",22,82)

In [160]:
#accessing private attribute directly (not possible cause of being private)
print(s1.__name)

AttributeError: 'Student' object has no attribute '__name'

In [162]:
#accessing through getter method
print(s1.getName())

Adil